 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>To-do List</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="styles.css">
 </head>

 <body>
   <h1>Todo List</h1>
   <form action="/" method="post">
     <div class="add_todo">
       <input type=text name="todo" placeholder="Add a todo..." />
       <input type="submit" value="add todo"></button>
     </div>
     <div id="todo_items">
       <ul>
       {{#todos}}
       <div class="todos">
         <button name="complete">mark complete</button>
         <li class="todo_item">{{.}}</li>
       </div>
     {{/todos}}
      </ul>
      </div>
      <div id="completed_tasks">
        <h2>Completed Tasks</h2>
        <ul>
        {{#completes}}
        <div class="todos">
          <button name="uncomplete">mark uncomplete</button>
          <li class="todo_item">{{.}}</li>
        </div>
      {{/completes}}
       </ul>
      </div>
   </form>
 </body>

 </html>
